<h1>Znacky</h1>

<p><%= link_to "Pridaj novu znacku", new_car_brand_path %></p>

<table class="table" border="1">
  <thead>
    <tr>
      <th>logo</th>
      <th>nazov</th>
      <th>Akcie</th>
    </tr>
  </thead>

  <tbody>
   
      
      <% @car_brands.each do |car_brand| %>
      <tr>
      <td><%= image_tag car_brand.logo.url, style: 'width: 64px' %></td>
        <td>
          <%= car_brand.name %>
        </td> 
        <td><%= link_to "Upravit", edit_car_brand_path(car_brand) %>
            <%= link_to "Odstranit", car_brand_path(car_brand), method: 'delete', data: { confirm: 'Ste si isty?'} %>
        </td>

      </tr>
      <% end %> 

    
  </tbody>
</table>

